.section-team-2-card {
    margin: 0.2em 5em 12em 7em;
    display: flex;
    gap: 10em;
    .section-team-2-card-div {
      width: 20vw;
      height: 40vh;
      position: relative;
      display: inline-block;
      .section-team-2-img {
        width: 20vw;
        height: 40vh;
        border-radius: 50%;
      }
      .socia-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        width: 20vw;
        height: 40vh;
        //display: flex;
        //gap: 2em;
        .social-media {
          .footer-brands {
            font-size: 3em;
            &:hover {
              color: black;
            }
          }
        }
      }
      &:hover .socia-icon {
        opacity: 1;
        visibility: visible;
        background-color: var(--primary-color);
      }
      .desc {
        .section-team-2-card-h1 {
          margin-bottom: 0.5em;
          text-align: center;
          padding-left: 3em;
        }
        .section-team-2-card-desc {
          margin-bottom: 1em;
          text-align: center;
          padding-left: 5em;
        }
      }
    }
  }